<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/pico.min.css">
    <title>Character List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1> Character List </h1>

<div th:each="character : ${allCharacter}">
    <a th:href="@{'/characters/' + ${character.id}}"><span th:text="'Character ' + ${character.name}"></span></a>
    <a th:href="@{'/admin/characters/delete/' + ${character.id}}"
       onclick="return confirm('Are you sure you want to delete this Character?')">
        <button>Delete Character</button>
    </a>
</div>

<a href="/">
    <button>Create a new Character</button>
</a>

<a th:href="@{characters/delete/all}"
   onclick="return confirm('Are you sure you want to delete all Characters?')">
    <button>Delete ALL Characters</button>
</a>

</body>
</html>