<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/pico.min.css">
    <title th:text="#{list.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="#{list.title}"></h1>

<div th:each="character : ${allCharacter}">
    <a th:href="@{'/characters/' + ${character.id}}"><span th:text="'Character ' + ${character.name}"></span></a>
</div>

<a href="/">
    <button th:text="#{list.create}"></button>
</a>

</body>
</html>